 <!-- <div class="card" style="width: 18rem;" *ngFor="let track of tracks">
    <div class="card-body">
      <h5 class="card-title">{{track.name}}</h5>
      <p class="card-text">Some</p>
      <img class="card-img-top" src="{{images}}" alt="Card image cap">
      <br><button>Submit</button>  
  
    </div>
    
  </div> 
 -->

 <app-main-nav></app-main-nav>
 <mat-grid-list  class="grid"cols="5" rowHeight = "100px" >
 <mat-grid-tile *ngFor="let track of tracks" [colspan]="1" [rowspan] = "3">
    <mat-card  class="example-card">
        <mat-card-header>
          <mat-card-title style="font-size:1.5rem;">{{track.name}}</mat-card-title>
          <mat-card-subtitle>{{track.artist.name}}</mat-card-subtitle>
        </mat-card-header>
        <img class="image-section" mat-card-image src={{images}} alt="Photo of a Shiba Inu">
        <mat-card-actions >
          <!-- <div class="btn"> -->
            <button class="btn" mat-mini-fab (click)="onClick(track)" >
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-mini-fab >
                  <mat-icon >play_circle_outline</mat-icon>
                </button>
                    <!-- </div> -->
        </mat-card-actions>              
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>