.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
a,.mat-form-field{
  text-decoration: none;
  color:white;
  margin: 1rem 1rem;
  float: right;
}

